<nav>
  <%= link_to "Logga ut", admin_session_path, { method: :delete, class: "btn" } %>
</nav>



<main>
  <%= render 'errors' %>
  <h1>Välkommen <%= current_user.email %></h1>

  <%= render 'change_requests' %>
</main>
