<header>
  <%= image_tag "Logo.png", id: "logo-big" %>
  <h1 id="logo-title">Sortera Mera API</h1>
</header>

<main>
  <article>
    <h2>Nu även ett API!</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
      ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

      Besök <a href="#">dokumentationen</a> för att veta mer!                                               <!-- TODO -->
    </p>
    <img class="screenshot">
  </article>
</main>
