<header>
  <%= image_tag "Logo.png", id: "logo-big" %>
  <h1 id="logo-title">Sortera Mera</h1>
</header>

<main>
  <article>
    <h2>Idéen av appen</h2>
    <p>
      Med hjälp av Sorteramera kan du hitta din närmsta återvinningsstation eller återvinningscentral
      och även få vägbeskrivning dit. För varje återvinningsstation kan du får reda på information
      om vilka material som går att återvinna, vilken adress eller ort den finns på och även vilka öppettider stationen eller centralen har.
    </p>

    <img class="screenshot">
  </article>
</main>
