/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* All rules are in ascending order except body and text */

/* Global
------------------------------------------------------------------------------*/

body, html {
  height: 100%;
}

body {
  font-size: 18px;
  background: #E22C24;
  padding: 0;
  margin: 0;
  position: relative;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

@media screen and (max-width: 320px) {
  body {
    font-size: 15px;
  }
}

/* Text
------------------------------------------------------------------------------*/

h1, h2, h3 {
  font-family: "Helvetica", sans-serif;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #E22C24;
}

#api-badge {
  text-decoration: underline;
  color: #F4BFBF;
  font-size: 14px;
}

#appstore {
  display: block;
}

/* Articles
------------------------------------------------------------------------------*/

article {
  box-sizing: border-box;
  max-width: 720px;
  display: inline-block;
  text-align: left;
  background: white;
  padding: 50px;
  border-radius: 10px;
}

code {
  display: block;
  overflow-x: scroll;
}

code, .inline-code {
  border-radius: 8px;
  background: #F0F0F0;
  padding: 5px;
}

.inline-code {
  white-space: normal;
  display: inline-block;
  max-width: 100%;
  word-wrap: break-word;
}

@media screen and (max-width: 720px) {
  article {
    max-width: 95%;
  }

  article ul {
    padding-left: 0;
  }
}

/* Animations
------------------------------------------------------------------------------*/

@keyframes fadein {
    0% { opacity: 0; }
}

@keyframes rotatein {
  0% {
    opacity: 0;
    transform: rotate(180deg);
  }
}

@keyframes slidein {
  0% { transform: translateY(10em); }
}

@keyframes slideinphone {
  0% { transform: translate(-50%, 10em); }
}

/* Only show animations on high end devices */
@media screen and (min-width: 1000px) {
  header { animation: fadein 1s ease-out backwards; }
  #backdrop { animation: slidein 0.8s cubic-bezier(0.000, 0.000, 0.000, 1.000) backwards; }
  #iphone { animation: slideinphone 1s cubic-bezier(0.000, 0.000, 0.000, 1.000) backwards }
}

/* Backdrop
------------------------------------------------------------------------------*/

#backdrop {
  display: block;
  background: #B32524;
  height: 25vh;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: -1;
}

/* Buttons
------------------------------------------------------------------------------*/

.btn {
  -webkit-appearance: none;   /* Reset styling for the button */
  -moz-appearance: none;
  appearance: none;
  padding: 10px 35px 10px 35px;
  border: 2px solid white;
  background: none;
  color: white;
  font-size: inherit;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
}


/* Change requests
------------------------------------------------------------------------------*/

.change-request {
  border-radius: 10px;
  display: block;
  margin: auto;
  margin-bottom: 50px;
  max-width: 480px;
  text-align: left;
  padding: 25px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}

.change-request ul { padding-left: 0; }

.change-request ul li {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.25);
  padding: 10px;
  border-radius: 5px 10px 5px 10px;
  list-style-type: none;
  margin-bottom: 15px;
  transition: all 0.2s ease;
}

.change-request > i {
  float: right;
  margin: 5px;
}

.change-request h3 {
  margin-top: 0;
}

.change-request p {
  margin-bottom: 0;
}

.selected-request {
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25) !important;
  background: #BCED91;
}

.change-request button[type="submit"] {
  border: 0;
  background: none;
  float: right;
}

/* Header
------------------------------------------------------------------------------*/


header.standard-header {
  background: #E22C24;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  padding: 1.8%;
  vertical-align: middle;
  box-sizing: border-box;
}

header.standard-header h1 {
  display: inline-block;
}

#landing-header {
  display: block;
  height: 30vh;
  width: 100%;
  text-align: center;
  padding: 25px 5px 5px 5px;
  color: white;
}

#landing-header #logo-big {
  height: 30%;
  display: inline-block;
}

#landing-header h1 {
  margin: 0;
}

#landing-header p {
  color: #F5BFBE;
  max-width: 400px;
  display: inline-block;
  margin-top: 0;
}

/* Main wrapper
------------------------------------------------------------------------------*/

main {
  padding: 3%;
  box-sizing: border-box;
  display: block;
  text-align: center;
  min-height: 100%;
}

@media screen and (max-width: 720px) {
  main { padding: 0; }
}

/* iPhone
------------------------------------------------------------------------------*/

#iphone {
  border-width: 4px 4px 0;
  border-color: grey;
  border-style: solid;
  width: 38vh;
  max-width: 90%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  background: black;
  display: block;
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  bottom: 0;
}

/* Maintains aspect ratio since padding-top is calculated based of width */
#iphone:after {
  padding-top: 135%;
  display: block;
  content: "";
}

#iphone #camera {
  position: absolute;
  background: grey;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  top: 8%;
  left: 25%;
}

#iphone #camera:after {
  display: block;
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  top: 2px;
  left: 2px;
  z-index: 1;
  background: black;
  border-radius: 50%;
}

#iphone #speaker {
  position: absolute;
  top: calc(8% + 6px);
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 5px;
  content: "";
  background: grey;
  border-radius: 5px;
}

#iphone figure {
  width: 90%;
  height: 80%;
  margin-left: 50%;
  transform: translateX(-50%);
  background-size: cover !important; /* Since background is specified in view
                                      it won't work without !important */
  display: block;
  position: absolute;
  bottom: 0;
  margin-bottom: 0;
}

/* Login
------------------------------------------------------------------------------*/

#admin_login {
  padding: 3% 5% 3% 5%;
  background: #E22C24;
  color: white;
  display: inline-block;
}

#admin_login input {
  font-size: inherit;
  margin: 10px;
}

#admin_login input[type="text"],
#admin_login input[type="password"] {
  border: 0;
  border-radius: 5px;
  padding: 3%;
  color: grey;
}

/* Navigation
------------------------------------------------------------------------------*/

nav {
  display: block;
  background: #E22C24;
  padding: 20px 10px 20px 10px;
}

/* Figures
------------------------------------------------------------------------------*/

.screenshot {
  width: 100%;
  margin: 0;      /* Excess margin fix */
  background: black;
  height: 250px;
  border-radius: 20px;
}

/* Footer
------------------------------------------------------------------------------*/

footer {
  display: block;
  text-align: center;
  background: #E22C24;
  border: 10px solid #E22C24; /* Since padding doesn't work with lots o' children */
  color: white;
}

footer {
  font-size: 2em;
}
